
.title {
  color: whitesmoke;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 80px;
  animation: type 5s ease-in-out forwards;
}

@keyframes type {
  0% {
    opacity: 0;
    letter-spacing: 10px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
  }
}

.background {
  background-color: #333641;
  height: 200vh;
  width: 100vw; 
}

input{
  background-color: rgb(238, 238, 247);
  border: none;
  outline: none;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}

.foot{
  background-color: rgb(238, 238, 247);
  color: rgb(161, 161, 211);
  font-size: 12px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}
.todos{
  background-color: rgb(238, 238, 247);
  border: none;
  outline: none;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.item{
  text-align: left;
}
.erase{
  font-size: 20px;
  color: rgb(161, 161, 211);
  cursor: pointer;

}

.edit{
  font-size: 15px;
  margin-top: 20px;
  color: rgb(161, 161, 211);
  cursor: pointer;
}