
.title {
  color: whitesmoke;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 80px;
  animation: type 5s ease-in-out forwards;
}

@keyframes type {
  0% {
    opacity: 0;
    letter-spacing: 10px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
  }
}

.background {
  background-color: #333641;
  height: 200vh;
  width: 100vw; 
}

.listTodo {
  animation: bounce-fade-in 3s ease-in-out forwards;
}

@keyframes bounce-fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}